body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #343742;
}

.container {
  background-color: #444857;
  padding: 20px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  border-radius: 2px;
}

.choose {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 10px;
  margin-bottom: 20px;
}

.choose button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  border: 0;
  width: 50%;
  margin: 0;
  transition: background-color 0.3s ease;
}

.choose button.active {
  background-color: #FF6600;
  color: white;
}

.choose button:hover:not(.active) {
  background-color: #cc5200;
}

.choose button.active:hover {
  background-color: #cc5200;
}

.choose button:not(.active) {
  background-color: #5f6370;
  color: #e8e8e8;
}

.btn:hover {
  background-color: #cc5200;
}

#title-text {
  color: white;
  font-size: 1.5rem;
}

.field {
  margin: 15px 0;
}

.field input {
  color: white;
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  border: 2px solid white;
  background-color: #444857;
}

.field input::placeholder {
  color: #e8e8e8;
}

button#submit-btn {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background: #FF6600;
  color: white;
  cursor: pointer;
}

button#submit-btn:hover {
  background-color: #cc5200;
}

.messages {
    list-style: none;
    margin: 1em 0 2em;
    padding: 0;
}

.messages li {
    color: white;
}

