<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'app/account.css' %}">
</head>
<body>
  <div class="container">
    <div class="choose">
      <button id="signup-btn" class="btn active">Sign Up</button>
      <button id="login-btn" class="btn">Log In</button>
    </div>


    <span id="title-text">Sign Up for Free</span>
     <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
         {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}

      <div class="field" id="fields">
        <input type="text" name="customer_name" placeholder="Username" id="username" required>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <input type="password" name="confirm_password" placeholder="Confirm password" id="confirm-password" required>
        <input type="text" name="contact" placeholder="Contact" id="contact" required>
      </div>
      <button id="submit-btn" class="btn" type="submit">SIGN UP</button>
    </form>

  </div>

  <script>
    const signupBtn = document.getElementById('signup-btn');
    const loginBtn = document.getElementById('login-btn');
    const titleText = document.getElementById('title-text');
    const fields = document.getElementById('fields');
    const submitBtn = document.getElementById('submit-btn');
    const confirmPassword = document.getElementById('confirm-password');
    const contactField = document.getElementById('contact');
    const form = document.querySelector('form');

    console.log(form);

    // Set default mode
    let isSignUp = true;

    // Handle Sign Up mode
    signupBtn.addEventListener('click', () => {
      isSignUp = true;
      signupBtn.classList.add('active');
      loginBtn.classList.remove('active');
      titleText.textContent = 'Sign Up for Free';

      confirmPassword.style.display = 'block';
      confirmPassword.setAttribute('required', 'true');

      contactField.style.display = 'block';
      contactField.setAttribute('required', 'true');

      submitBtn.textContent = 'SIGN UP';
      form.action = "{% url 'signup' %}";
    });

    // Handle Log In mode
    loginBtn.addEventListener('click', () => {
      isSignUp = false;
      loginBtn.classList.add('active');
      signupBtn.classList.remove('active');
      titleText.textContent = 'Welcome Back!';

      confirmPassword.style.display = 'none';
      confirmPassword.removeAttribute('required');

      contactField.style.display = 'none';
      contactField.removeAttribute('required');

      submitBtn.textContent = 'LOG IN';
      form.action = "{% url 'login' %}";
    });

  </script>
</body>
</html>
