{% extends "base.html" %}

{% block content %}
<section class="main-body">
    <fieldset class="board-game container">
        <legend class="board-game-header">
            Board Game
        </legend>

        {% for book in data.boardgame %}
            <div class="content">
                <span class="name">Name: {{ book.boardgame_name }}</span>
                <span class="category">Genre: {{ book.category.category_name }}</span>
                <span class="category">Number of Player: {{ book.group.num_player }}</span>
                <span class="category">Base Fee: {{ book.group.base_fee }} Baht / day</span>
                <form method="POST" action="{% url 'board_game_cafe:index' %}">
                    {% csrf_token %}
                    <input type="hidden" name="boardgame_sort_mode" value="none">
                    <input type="hidden" name="boardgame_filter" value="none">
                    <input type="hidden" name="table_sort_mode" value="none">
                    <input type="hidden" name="table_filter" value="none">
                    <button type="submit" class="button">book</button>
                </form>

            </div>
        {% endfor %}

        <div class="controls">
            <label for="sort">Sort by:</label>
            <select id="sort" onchange="">
                <option value="">Select</option>
                <option value="name_asc">Name (A-Z)</option>
                <option value="popular">Popularity</option>
            </select>

            <label for="category">Category:</label>
            <select id="category" onchange="">
                <option value="">Select</option>
                {% for category in list_of_category %}
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>

        </div>
    </fieldset>

    <fieldset class="table container">
        <legend class="table-header">
            Table
        </legend>

        {% for table in data.table %}
            <div class="content">
                <span class="name">Table {{ table.table_id }}</span>
                <span class="capacity">Capacity: {{ table.capacity }}</span>
                <span class="category">Base Fee: {{ table.fee}}  Baht / day</span>
                <a href="{% url 'board_game_cafe:post_view' %}?action=book" class="button">book</a>
            </div>
        {% endfor %}

        <div class="controls">
            <label for="table-sort">Sort by:</label>
            <select id="table-sort" onchange="">
                <option value="">Select</option>
                <option value="capacity">Capacity</option>
            </select>

            <label for="capacity">Capacity:</label>
            <select id="capacity" onchange="">
                <option value="">Select</option>
                {% for all_capa in list_of_capacity %}
                    <option value="{{ all_capa }}">{{ all_capa }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>
</section>
{% endblock %}
