{% extends "base.html" %}

{% block content %}
<div class="board-game container">
    <div class="board-game-header">
        Board Game
    </div>

    <div class="content">
        <span>Board Game Name 1</span>
        <span>bookable</span>
        <button>book</button>
    </div>
</div>

<div class="table container">
    <div class="table-header">
        Table
    </div>

    <div class="content">
        <span>Table 1</span>
        <span>bookable</span>
        <button>book</button>
    </div>
</div>
{% endblock %}
