{% extends "base.html" %}

{% block content %}
<section class="main-body">
    <fieldset class="board-game container">
        <legend class="board-game-header">
            Board Game
        </legend>

        <div class="content">
            <span class="name">Board Game Name 1</span>
            <span class="aval">available</span>
            <a href="{% url 'board_game_cafe:post_view' %}?action=rent" class="button">rent</a>
        </div>
    </fieldset>

    <fieldset class="table container">
        <legend class="table-header">
            Table
        </legend>

        <div class="content">
            <span class="name">Table 1</span>
            <span class="aval">available</span>
            <a href="{% url 'board_game_cafe:post_view' %}?action=rent" class="button">rent</a>
        </div>
    </fieldset>
</section>
{% endblock %}
