{% extends "base.html" %}

{% block content %}
<section class="main-body">
    <fieldset class="board-game container">
        <legend class="board-game-header">
            Board Game
        </legend>

        {% for return in data.boardgame %}
            <div class="content">
                <span class="name">Name: {{ return.boardgame_name }}</span>
                <span class="category">Genre: {{ return.category.category_name }}</span>
                <span class="category">Number of Player: {{ return.group.num_player }}</span>
                <span class="category">Base Fee: {{ return.group.base_fee }} Baht / day</span>
                <form method="POST" action="{% url 'board_game_cafe:return' %}">
                    {% csrf_token %}
                    <input type="hidden" name="{{ return.boardgame_id }}" value="{{ return.boardgame_id }}">
                    <button type="submit" class="button">return</button>
                </form>
            </div>
        {% endfor %}

    </fieldset>

    <fieldset class="table container">
        <legend class="table-header">
            Table
        </legend>

         {% for table in data.table %}
            <div class="content">
                <span class="name">Table {{ table.table_id }}</span>
                <span class="capacity">Capacity: {{ table.capacity }}</span>
                <span class="category">Base Fee: {{ table.fee}} THB</span>
                  <form method="POST" action="{% url 'board_game_cafe:return' %}">
                    {% csrf_token %}
                    <input type="hidden" name="{{ table.table_id }}" value="{{ table.table_id }}">
                    <button type="submit" class="button">return</button>
                </form>
            </div>
        {% endfor %}

    </fieldset>
</section>
{% endblock %}
