{% extends "base.html" %}

{% block content %}
<section class="main-body">
    <fieldset class="table container">
        <legend class="table-header">
            Statistic
        </legend>

        <ul>
            <li>Most Popular Board Game Category: Fantasy</li>
            <li>
                Top 5 Most Rented Board Game:
                <ol>
                    <li>D&D</li>
                    <li>UMO</li>
                </ol>
            </li>

            <li>Peak Hour of Table Booking: 12:30 PM</li>
            <li>Most Popular Table Booking Day of The Week: Monday</li>
        </ul>
    </fieldset>
</section>
{% endblock %}
