{% extends "base.html" %}

{% block content %}
<section class="main-body">
    <fieldset class="table container">
        <legend class="table-header">
            Statistic
        </legend>

        <ul>
            <li><strong>Most Popular Board Game Category:</strong> Fantasy</li>
            <li>
                <strong>Top 5 Most Rented Board Games:</strong>
                <ol>
                    <li>D&D</li>
                    <li>UMO</li>
                </ol>
            </li>
            <li><strong>Peak Hour for Table Booking:</strong> 12:30 PM</li>
            <li><strong>Most Popular Table Booking Day:</strong> Monday</li>
        </ul>

    </fieldset>
</section>
{% endblock %}
