{% extends "base.html" %}

{% block content %}
<section class="main-body">
    <fieldset class="table container">
        <legend class="table-header">
            Statistic
        </legend>

        <ul>
            <li><strong>Most Popular Board Game Category:</strong> {{ data.popular_boardgame.boardgame_name }}</li>
            <li>
                <strong>Top 5 Most Rented Board Games:</strong>
                <ol>
                    {% for top in data.top_boardgame %}
                        <li>{{ top.boardgame_name }}</li>
                    {% endfor %}
                </ol>
            </li>
            <li><strong>Peak Hour for Table Booking:</strong> {{ data.peak_hour }}</li>
            <li><strong>Most Popular Table Booking Day:</strong> {{ data.peak_hour }}</li>
        </ul>

    </fieldset>
</section>
{% endblock %}
